body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10%;
  padding-top: 0%;
}

h1 {
  text-align: center;
}

p {
  font-size: large;
}

a {
  font-size: x-large;
  font-weight: bold;
  background-color: #276cc6;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: fit-content;
  align-items: center;
  margin: 10px;
}

.feedback {
  font-size: large;
  margin-left: auto;
  margin-right: 10px;
}

.smaller_button {
  font-size: large;
}

footer {
  position: absolute;
  bottom: 0;
}